{% extends "accounts/Base_template_accounts.html" %}
{% load jalali_tags %}

{% block title %}
    لیست خدمات
{% endblock %}

{% block main-content %}
    <div class="main-div">
        <div class="alert w-auto text-center display-6">لیست خدمات ها  : </div>
        <button class="btn btn-danger m-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            جستجو
        </button>
        <form class="m-3 row p-3 rounded search-form collapse" id="collapseExample">
            <div class="col-md-3">
                {{ search_box.manger.label }} :
                {{ search_box.manger}}
                {{ search_box.manger.errors }}
            </div>
            <div class="col-md-3">
                {{ search_box.code_p.label }} :
                <input id="code_p" name="code_p" placeholder="0-0-0-0-0">
                {{ search_box.code_p.errors }}
            </div>
            <br>
            <button type="submit" class="justify-content-end btn btn-warning col-2 m-2 ">جستجو</button>
        </form>
        <div class=" second-div p-4 text-center justify-content-center">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">نوع خدمت</th>
                        <th scope="col">هزینه</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">پروژه</th>
                        <th scope="col">کارفرما</th>
                        <th scope="col">تاریخ ثبت</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in service %}
                    <tr class="{% if obj.payed == 1 %} table-success  {% endif %}">
                        <th scope="row"></th>
                        <td>{{ obj.get_define_services_display }} </td>
                        <td>{{ obj.cost_services }}</td>
                        <td>{{ obj.description|truncatechars:30 }}</td>
                        <td>{{ obj.project }}</td>
                        <td>{{ obj.project.manager }}</td>
                        <td>{{ obj.date|date:"y/m/d"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class=" d-flex justify-content-center text-center ">
            <p class="alert alert-info my-alert">تعداد {{ service_c }}  خدمت یافت شد </p>
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    var table = document.getElementsByTagName('table')[0],
  rows = table.getElementsByTagName('tr'),
  text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 1, len = rows.length; i < len; i++) {
  rows[i].children[0][text] = i + '  ' + rows[i].children[0][text];
}
</script>
        <script>
    var table = document.getElementsByTagName('table')[1],
  rows = table.getElementsByTagName('tr'),
  text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 1, len = rows.length; i < len; i++) {
  rows[i].children[0][text] = i + '  ' + rows[i].children[0][text];
}
</script>

{% endblock %}
