{% extends "accounts/Base_template_accounts.html" %}
{% load static %}

{% block title %}
    خانه
{% endblock %}


{% block main-content %}
    <div class="row justify-content-center bg-secondary rounded" >
        <div class="bg-dark p-5 m-5 w-75 flex-row rounded">
            <a href="{% url "accounts:project_list" %}" class="btn btn-info mx-5">
                ثبت پرداخت جدید
            </a>
            <a href="{% url "accounts:project_list" %}" class="btn btn-primary mx-5">
                ثبت خدمات جدید
            </a>
            <a href="{% url "accounts:project_list" %}" class="btn btn-success mx-5">
                ثبت پروژه جدید
            </a>
            <a href="{% url "accounts:payment_list" %}" class="btn btn-warning mx-5">
                لیست پرداخت ها
            </a>
        </div>
    </div>
    <div class="row m-3 p-3  bg-danger main-div justify-content-between">
        {% if user.is_authenticated %}
         <div class="col-md-4 rounded mx-3 my-2 bg-warning">
             <form method="POST" action="#" class=" m-2 bg-secondary p-2 form text-dark rounded border row">{% csrf_token %}
                 <label for="{{ form.note.label }}" class=" py-2 h4 text-center">
                     {{ form.note.label }}  :
                 </label>
{#                 <div class="col-md-6">#}
                     {{ form.note }}
{#                 </div>#}
                 <button type="submit" class="btn btn-primary">ثبت</button>
             </form>
         </div>
        {% endif %}
         <div class="col-md-3 mx-3 bg-warning my-2">2</div>
         <div class="col-md-3 mx-3 bg-warning my-2">3</div>
    </div>
{% endblock %}