{% extends "accounts/Base_template_accounts.html" %}

{% block title %}
    ثبت پرداخت
{% endblock %}

{% block main-content %}
    <div class="main-div">
        <div class="second-div text-center row ">
            <form class="form-group flex-row" method="post" >
                {% csrf_token %}
                <label class="label mb-md-3" for="{{ pay.project.label }}">
                    {{ pay.project.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.project}}
                    {{pay.project.errors}}
                </div>
                <label class="label mb-md-3" for="{{ pay.value.label }}">
                    {{ pay.value.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.value}}
                    {{pay.value.errors}}
                </div>
                <label class="label mb-md-3" for="{{ pay.description.label }}">
                    {{ pay.description.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.description}}
                    {{pay.description.errors}}
                </div>
                <label class="label mb-md-3" for="{{ pay.date.label }}">
                    {{ pay.date.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.date}}
                    {{pay.date.errors}}
                </div>
                <div class="row m-3 d-flex justify-content-between">
                    <button class="btn btn-outline-danger col-2" onClick="window.location.href=window.location.href">پاک سازی صفحه</button>
                    <button type="submit" class="col-2 mx-5 btn-outline-success btn">ذخیره</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}