{% extends "accounts/Base_template_accounts.html" %}
{% load static %}
{% load jalali_tags %}
{% block title %}
    ثبت پرداخت
{% endblock %}

{% block main-content %}
    <div class="main-div">
        <div class="second-div text-center row ">
            {% if pay.errors %}
                <div class="alert alert-danger {{ pay.error_class }}">
                    {{ pay.errors }}
                </div><hr class="text-primary">
            {% endif %}
            <form class="form-group flex-row" method="post" >
                {% csrf_token %}
                <label class="label mb-md-3 my-2" for="{{ pay.project.label }}">
                    {{ pay.project.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.project}}
                    {{pay.project.errors}}
                </div><hr class="text-primary">
                <label class="label mb-md-3 my-2" for="{{ pay.value.label }}">
                    {{ pay.value.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.value}}
                    {{pay.value.errors}}
                </div><hr class="text-primary">
                <label class="label mb-md-3 my-2" for="{{ pay.description.label }}">
                    {{ pay.description.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.description}}
                    {{pay.description.errors}}
                </div><hr class="text-primary">
                <label class="label mb-md-3 my-2" for="{{ pay.service.label }}">
                    {{ pay.service.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{pay.service}}
                    {{pay.service.errors}}
                </div><hr class="text-primary">
                <label class="label mb-md-3 my-2" for="{{ pay.date.label }}">
                    {{ pay.date.label }}
                </label>
                <div class="input-group justify-content-center" >
                    {{ pay.date }}
                    <button id="datepicker4btn" class="mx-1 btn btn-warning" type="button"><i class="bi bi-calendar3"></i></button>
                    {{pay.date.errors}}
                </div><hr class="text-primary">
                <div class="row m-3 d-flex justify-content-between">
                    <button class="btn btn-outline-danger col-2" onClick="window.location.href=window.location.href">پاک سازی صفحه</button>
                    <button type="submit" class="col-2 mx-5 btn-outline-success btn">ذخیره</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "accounts/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "accounts/js/bootstrap-datepicker.fa.js" %}"></script>
    <script>

            $(document).ready(function() {
                $("#datepicker0").datepicker();

                $("#datepicker1").datepicker();
                $("#datepicker1btn").click(function(event) {
                    event.preventDefault();
                    $("#datepicker1").focus();
                })

                $("#datepicker2").datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true
                });

                $("#datepicker3").datepicker({
                    numberOfMonths: 3,
                    showButtonPanel: true
                });

                $("#datepicker4").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    dateFormat: "y-m-d",
            isRTL: true
                });
                $("#datepicker4btn").click(function(event) {
                    event.preventDefault();
                    $("#datepicker4").focus();
                })

                $("#datepicker5").datepicker({
                    minDate: 0,
                    maxDate: "+14D"
                });

                $("#datepicker6").datepicker({
                    isRTL: true,
                    dateFormat: "d/m/yy"
                });
                $('#datepicker13').datepicker({
	            regional: ''
	        });
            });
       </script>
{% endblock %}