{% extends "accounts/Base_template_accounts.html" %}
{% load jalali_tags %}
{% block title %}
    لیست پروژه ها
{% endblock %}

{% block main-content %}
    <div class="main-div">
        <button class="btn btn-danger m-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            جستجو
        </button>
        <form class="m-3 row p-3 rounded search-form collapse" id="collapseExample">
            <div class="col-md-3">
                {{ search_box.manger.label }} :
                {{ search_box.manger}}
                {{ search_box.manger.errors }}
            </div>
            <div class="col-md-3">
                {{ search_box.code_p.label }} :
                <input id="code_p" name="code_p" placeholder="0-0-0-0-0">
                {{ search_box.code_p.errors }}
            </div>
            <div class="col-md-3">
                {{ search_box.code_e.label }} :
                <input id="{{ search_box.code_e.label }}" name="{{ search_box.code_e.name}}" placeholder="0">
                {{ search_box.code_e.errors }}
            </div>
            <div class="col-md-3">
                {{ search_box.status.label }} :
                {{ search_box.status}}
                {{ search_box.status.errors }}
            </div>
            <br>
            <button type="submit" class="justify-content-end btn btn-warning col-2 m-2 ">جستجو</button>
        </form>
        <div class=" second-div p-4 text-center">
            <table class="table table-dark table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">کد نوسازی</th>
                    <th scope="col">کد ارجاع</th>
                    <th scope="col">کارفرما</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">صورتحساب</th>
                    <th scope="col">تاریخ ثبت</th>
                    <th scope="col">توضیحات</th>
                    <th scope="col">خدمات</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in objects %}
                        <tr class="">
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.code_p }}</td>
                            <td>{{ obj.code_erg }}</td>
                            <td>{{ obj.manager }}</td>
                            <td>{{ obj.get_status_display }}</td>
                            <td>{{ obj.bill }}  تومان </td>
                            <td>{{ obj.add_time|to_jalali:'%Y/%m/%d' }}</td>
                            <td>
                                {% if obj.description %}
                                    {{ obj.description }}
                                {% else %}
                                    <hr>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-info" href="{% url "accounts:project" project_id=obj.id %}">
                                    نمایش
                                </a>
                                <a class="btn btn-success" href="{% url "works:services_new" project_id=obj.id %}">
                                    ثبت درخواست
                                </a>
                                <a class="btn btn-warning" href="{% url "accounts:new_payment" project_id=obj.id %}">
                                     پرداخت
                                </a>
                            </td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
            <div class=" d-flex justify-content-center text-center ">
                <p class="alert alert-info my-alert">تعداد {{ num }} پروژه یافت شد </p>
            </div>
        </div>
    </div>
{% endblock %}