
/*color 1 --> #282a31*/
/*color 2 --> #f8ce46*/

body{
    margin: 60px;
    background-color: #e5e5c3;
    padding: 0px ;
    font-size: 130%;
    font-family: "Times New Roman", Tahoma;
}

#mynav{
    border: 2px dashed rosybrown;
}

.endcolumn{
    border-left: 2px solid black;
}

.main-div{
    margin-right: 100px;
    border: 2px dashed rosybrown;
    margin-left: 100px;
    padding: 20px;
    background-color: #4770ef;
    color: #FFEB70;
    overflow: auto;
    min-width: 250px;
    text-overflow: ellipsis;
    border-radius: 20px;
}

.second-div{
    background-color: #2a3137;
    padding: 20px 20px 10px 10px;
    border-radius: 20px;
    margin:0 20px ;
    border: 10px dashed #495356;
}

.data{
    min-width: 10px;
    overflow: auto;
    text-overflow: revert;
}

.divlabel{
    color:white;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: rgb(89, 39, 171);
}

.divans{
    color: white;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: #cd3c3c
}

.change-btn{
    margin: 20px 20px 5px 10px;
    color: #b8df10;
    font-size: 110%;
    background-color: #390879;
}

.change-btn:hover{
    background-color: #f8ce46;
    color: #006eff;
    font-weight: bold;

}

.mybtn{
    font-size: 1.5rem;
    color: #f8ce46;
    background-color:#2b3035
}

.mybtn:hover{
    box-shadow:2px 3px #b8df10;
}

thierd_part{
    background-color: #404752;
}

.my-alert{
    width: 30%;
    height: auto;
    margin-left: 100px
}